<div class="about" id="about">
    <h1 class="title">Over mij</h1>
    <div class="spans">
        <span>
            Mijn naam is Jeremy Bosma, ik ben 16 jaar oud en ik woon in
            Nederland. Ik ben gepassioneerd over software-ontwikkeling en
            studeer het aan het Alfa-college in Groningen.
        </span>
        <span>
            Ik creëer prachtige websites en software voor verschillende
            platformen. Daarnaast ben ik een zelf geleerde designer en maak ik
            gebruik van tools zoals Figma, Github en Visual Studio Code.
        </span>
        <span>
            Naast mijn studie werk ik aan mijn eigen projecten, waarmee ik al
            meer dan 1000 mensen heb kunnen bereiken. Ik ben ook bezig mijn eigen
            agency, waar je mij kunt inschakelen voor jouw eigen product.
        </span>
    </div>
</div>

<style>
    .about .spans {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .about span {
        font-size: 20px;
    }
</style>
