---
import Social from "../Social.astro";

const socials = [
  {
    title: "X / Twitter",
    icon: "brand-x",
    href: "https://x.com/jeremybosma_",
  },
  {
    title: "GitHub",
    icon: "brand-github",
    href: "https://github.com/jeremybosma",
  },
  {
    title: "Instagram",
    icon: "brand-instagram",
    href: "https://instagram.com/jeremybosma_",
  },
  {
    title: "Discord",
    icon: "brand-discord",
    href: "https://discord.com/channels/@me/709441303351394314",
  },
];
---

<div>
  <h1 class="title">Social Presence</h1>
  <div class="row">
    {socials.map((social) => <Social {...social} />)}
  </div>
</div>
