---
import { Icon } from "fulldev-ui";

const socials = [
  {
    title: "X / Twitter",
    icon: "brand-x",
    href: "https://x.com/jeremybosma_",
  },
  {
    title: "GitHub",
    icon: "brand-github",
    href: "https://github.com/jeremybosma",
  },
  {
    title: "Instagram",
    icon: "brand-instagram",
    href: "https://instagram.com/jeremybosma_",
  },
  {
    title: "Discord",
    icon: "brand-discord",
    href: "https://discord.com/channels/@me/709441303351394314",
  },
];
---

<div class="flex gap-4">
  {
    socials.map((social) => (
      <a
        href={social.href ?? "#"}
        target={social.href ? "_blank" : undefined}
        class="rounded-lg transition-colors duration-200"
      >
        {social.icon && (
          <Icon class="hover:text-[--primary-text]" name={social.icon} />
        )}
      </a>
    ))
  }
</div>
