---
import { Image } from "astro:assets";

const projects = [
  {
    title: "Founder of vesselspro",
    desc: "VesselsPro is a better solution to fleet management, ship maintenance, and more.",
    icon: "/images/projects/vesselspro.png",
    href: "https://vessels.pro",
  },
  {
    title: "Founder of CalCalc",
    desc: "CalCalc is a calorie and micronutrient tracker.",
    icon: "/images/projects/calcalc.png",
    href: "https://calcalc.vercel.app",
  },
  {
    title: "Founder of outfits.bio",
    desc: "A platform to keep track of your clothing, share, and find outfit inspiration on the web.",
    icon: "/images/projects/outfitsbio.png",
    href: "https://outfits.bio",
  },
  {
    title: "Internship at full.dev",
    desc: "Full.dev is a web development agency that's also building astro development focused tools.",
    icon: "/images/projects/fulldev.png",
    href: "https://full.dev",
  },
];
---

<div class="flex flex-col gap-12">
  <section class="projects">
    <h1 class="title">Experience</h1>
    <div class="flex flex-col gap-6">
      {
        projects.map((project) => (
          <a href={project.href} target="_blank" class="group">
            <div class="flex items-center gap-4 opacity-80 hover:opacity-100 transition-opacity duration-200">
              {project.icon && (
                <Image
                  src={project.icon}
                  alt="Project Icon"
                  class="w-8 h-8 rounded-md border-[#242424] border-[1px]"
                  width="32"
                  height="32"
                  loading="eager"
                />
              )}
              <div class="flex flex-col">
                <span class="text-lg font-medium group-hover:text-[--primary-text]">
                  {project.title}
                </span>
                {project.desc && (
                  <span class="text-sm text-[--secondary-text]">
                    {project.desc}
                  </span>
                )}
              </div>
            </div>
          </a>
        ))
      }
      <span class="text-sm text-[--secondary-text]">
        Looking for a designer / engineer for your project?{" "}
        <a
          href="mailto:jeremybosma@outlook.com"
          class="underline hover:text-[--primary-text] transition-colors"
        >
          email me</a
        >!
      </span>
    </div>
  </section>
</div>

<style>
  .projects {
    @apply flex flex-col gap-4;
  }
</style>
