---
import Card from "../Card.astro";

const projects = [
  {
    title: "Founder of vesselspro",
    desc: "VesselsPro is a better solution to fleet management, ship maintenance, and more.",
    icon: "/images/projects/vesselspro.png",
    href: "https://vessels.pro",
  },
  // {
  //   title: "Founder of outfits.bio",
  //   desc: "A platform to keep track of your clothing, share, and find outfit inspiration on the web.",
  //   icon: "/images/projects/outfitsbio.png",
  //   href: "https://outfits.bio",
  // },
  {
    title: "Internship at full.dev",
    desc: "Full.dev is a web development agency that's also building astro development focused tools.",
    icon: "/images/projects/fulldev.png",
    href: "https://full.dev",
  },
];
---

<div class="col">
  <section class="projects">
    <h1 class="title">Experience</h1>
    <div class="projectscol">
      {projects.map((project) => <Card {...project} />)}
      <span
        >Looking for a designer / engineer for your project? <a
          href="mailto:jeremybosma@outlook.com"
          style="text-decoration: underline;">email me</a
        >!</span
      >
    </div>
  </section>
</div>

<style>
  .col {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .projectscol {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .schoolprojects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 520px;
  }

  summary {
    cursor: pointer;
    user-select: none;
    display: block;
    padding-left: 1rem;
    position: relative;
  }

  summary:before {
    content: "";
    border-width: 0.38rem;
    border-style: solid;
    border-color: transparent transparent transparent #4b4b4b;
    position: absolute;
    top: 0.7rem;
    left: -0.1rem;
    transform-origin: 0.2rem 50%;
    transition: 0.25s transform ease;
  }

  details[open] > summary:before {
    transform: rotate(90deg);
  }

  details summary::-webkit-details-marker {
    display: none;
  }
</style>
