<section class="flex w-full max-w-full justify-center text-center" id="about">
  <span class="text-left text-md md:text-2xl font-medium">
    Hi! I am <b>Jeremy Bosma</b>, a founding developer / designer. I'm currently
    working on my startup
    <a class="underline font-bold" href="https://vessels.pro">vesselspro</a>, an
    all-in-one suite for the maritime industry.
  </span>
</section>
