---
import Image from "astro/components/Image.astro";
---

<section
  class="flex-col md:flex-row gap-3 md:items-center flex w-full max-w-full justify-center text-center"
  id="about"
>
  <Image
    src="/images/favicon.png"
    alt="Jeremy Bosma"
    class="rounded-md w-8 h-8 md:w-14 md:h-14"
    width={52}
    height={52}
  />

  <span class="text-left text-md md:text-2xl font-medium">
    Hi! I am <b>Jeremy Bosma</b>, a founding developer / designer. I'm currently
    working on my startup
    <a class="underline font-bold" href="https://vessels.pro">vesselspro</a>, an
    all-in-one suite for the maritime industry.
  </span>
</section>
