---
import { Image } from "astro:assets";
import profilePicture from "../../images/pfp.jpg";
import vesselsPro from "../../images/vesselspro.png";
---

<div class="hero" id="about">
    <span>
        Ik ben
        <Image src={profilePicture} alt="Profile picture" class={`icon`} />
        <div class="link-container"><b>Jeremy Bosma</b></div>, een design developer.
            Ik ontwerp en programmeer apps met
            <a href="https://vessels.pro"><div class="link-container">
                <Image src={vesselsPro} alt="Icon" class={`icon`} />
                <b>vesselspro</b></a>,</div>
            een onderhoudsapp voor de scheepvaart.
    </span>
</div>

<style>
    .hero {
        display: flex;
        width: 100vw;
        max-width: 100%;
        justify-content: center;
        text-align: center;
    }

    .hero span {
        color: #000000bf;
        font-size: 40px;
        font-weight: 500;
    }

    .hero a {
        text-decoration: underline;
    }

    .hero .icon {
        width: 48px;
        height: 48px;
        border-radius: 8px;
        transition: transform 0.1s ease-in-out;
        animation: loading 0.3s ease-in-out;
    }

    .hero .icon:hover {
        transform: rotate(10deg);
    }

    .link-container {
        display: inline-block;
        align-items: center;
        justify-content: center;
    }

    @keyframes loading {
        0% {
            transform: rotate(0deg);
        }
        50% {
            transform: rotate(10deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }
</style>
