<div>
    <h1 class="title">Education & School</h1>
    <div style="max-width: 520px;">
        <p>
            Currently, I am studying software development at Alfa-College in
            Groningen and teaching myself UI/UX Design in Figma. Previously, I
            graduated from VMBO-TL (MAVO) at Campus Eemsdelta in Appingedam.
        </p>
    </div>
</div>
<!-- <div>
            <h3><b>Heden</b></h3>
            <h4>Software Development MBO-4</h4>
        </div>
        <div>
            <h3><b>2019 - 2023</b></h3>
            <h4>VMBO-TL (mavo)</h4>
        </div> -->
