<div>
    <h1 class="title">Opleiding & School</h1>
    <div style="max-width: 520px;">
        <p>
            Ik studeer momenteel software development aan het Alfa-College in
            Groningen en leer ik mezelf UI/UX Design in Figma. Hiervoor heb ik
            VMBO-TL (MAVO) afgestudeerd op het Campus Eemsdelta in Appingedam.
        </p>
    </div>
</div>
<!-- <div>
            <h3><b>Heden</b></h3>
            <h4>Software Development MBO-4</h4>
        </div>
        <div>
            <h3><b>2019 - 2023</b></h3>
            <h4>VMBO-TL (mavo)</h4>
        </div> -->
