---
import Skill from "../Skill.astro";

const skills = [
  {
    title: "NextJS",
    icon: "/images/skills/nextjs.png",
    href: "https://nextjs.org",
    tooltip: "/images/screenshots/nextjs.png",
  },
  {
    title: "astro",
    icon: "/images/skills/astro.png",
    href: "https://astro.build",
    tooltip: "/images/screenshots/astro.png",
  },
  {
    title: "TypeScript",
    icon: "/images/skills/typescript.png",
    href: "https://typescriptlang.org",
    tooltip: "/images/screenshots/typescript.png",
  },
  {
    title: "tailwindcss",
    icon: "/images/skills/tailwind.png",
    href: "https://tailwindcss.com",
    tooltip: "/images/screenshots/tailwind.png",
  },
];
---

<section class="skillsets">
  <div>
    <h1 class="title">Expertise</h1>
    <div class="row">
      <span>Programming</span>
      <div class="row">
        {skills.map((skill) => <Skill {...skill} />)}
      </div>
    </div>
  </div>

  <style>
    .row {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
    }

    .skilldivider {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .skillsets {
      display: flex;
      flex-direction: column;
      gap: 20px;
      max-width: 270px;
    }
  </style>
</section>
