---
import Layout from "../layouts/Layout.astro";

import Hero from "../components/sections/Hero.astro";
import About from "../components/sections/About.astro";
import Projects from "../components/sections/Projects.astro";
import School from "../components/sections/School.astro";
import Contact from "../components/sections/Contact.astro";
---

<Layout>
	<main>
		<Hero />
		<About />
		<Projects />
		<School />
		<Contact />
	</main>
</Layout>