---
import Layout from "../layouts/Layout.astro";

import Hero from "../components/sections/Hero.astro";
import Projects from "../components/sections/Experience.astro";
import Contact from "../components/sections/Contact.astro";
import School from "../components/sections/School.astro";
---

<Layout>
  <main
    class="flex flex-col gap-10 md:w-screen md:h-screen align-center justify-center"
  >
    <Hero />
    <Projects />
    <!-- <School /> -->
    <Contact />
  </main>
</Layout>
