.profile {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}

.profile .pfp {
    width: 130px;
    height: 130px;
    border-radius: 100%;
    border: 1px solid #bcbcbc;
}

.profile .cta {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile p {
    font-size: 20px;
}

.profile .buttonRow {
    display: flex;
    gap: 10px;
}

@media (max-width: 768px) {
    .profile .pfp {
        width: 90px;
        height: 90px;
    }
}