@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/satoshi');

:root {
  --satoshi: 'Satoshi', sans-serif;

  --primary-surface: #F9F9F9;
  --secondary-surface: #FFFFFF;
  --primary-stroke: #E9E9E9;

  --primary-text: #4b4b4b;

  scroll-behavior: smooth;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-surface);
  color: var(--primary-text);
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, #eeeeee 1px, transparent 1px),
    linear-gradient(to bottom, #eeeeee 1px, transparent 1px);
}

main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 25px;
  padding: 15px 25px 25px 25px;
  width: 70vw;
  min-height: 100vh;

  background: var(--primary-surface);
  border: 2px solid var(--primary-stroke);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--satoshi);
}

.title {
  font-size: 26px;
  font-weight: 600;
  font-weight: bold;
  color: #000;
}

a,
p,
span,
button,
.button {
  font-family: var(--satoshi);
}

button,
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-surface);
  border: 1px solid var(--primary-stroke);
  padding: 10px 30px;
  font-size: 18px;
  height: 42px;
  gap: 5px;
  border-radius: 7px;
  cursor: pointer;
}

button:hover,
.button:hover {
  background-color: #bcbcbc;
}

button:active,
.button:active {
  transform: scale(0.994);
}

@media (max-width: 767px) {
  main {
    width: 100vw;
    border-radius: 0;
    border: none;
    box-shadow: none;
    margin-top: 0;
  }
}