@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/satoshi');

:root {
  --satoshi: 'Satoshi', sans-serif;
  --primary-surface: #F9F9F9;
  --secondary-surface: #FFFFFF;
  --primary-stroke: #E9E9E9;
  --primary-text: #4b4b4b;
  scroll-behavior: smooth;
  font-family: var(--satoshi);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-surface);
  color: var(--primary-text);
}

main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 25px;
  padding: 35px 25px 25px 25px;
  width: 70vw;
  min-height: 100vh;
}

section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

p {
  font-size: 22px;
}

span {
  font-size: 18px;
}

.title {
  font-size: 26px;
  font-weight: 600;
}

button,
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-surface);
  border: 1px solid var(--primary-stroke);
  padding: 20px;
  font-size: 18px;
  height: 42px;
  gap: 5px;
  border-radius: 99px;
  cursor: pointer;
  user-select: none;
  text-align: center;
}

button:hover,
.button:hover {
  background-color: #f8f8f8;
}

button:active,
.button:active {
  transform: scale(0.96);
  transition: 0.1s;
}

@media (max-width: 767px) {
  main {
    width: 100vw;
    border-radius: 0;
    border: none;
    box-shadow: none;
    margin-top: 0;
  }

  p {
    font-size: 20px;
  }
}