---
import { Image } from "astro:assets";

interface Props {
	title: string;
	desc?: string;
	icon?: string;
	href?: string;
}

const { title, desc, icon, href } = Astro.props;
---

<a class="hreffix" href={href ?? "#"} target={href ? "_blank" : undefined}>
	<div class="projectcard">
		{
			icon && (
				<Image
					src={icon}
					alt="Project Icon"
					class="projectIcon"
					width="50"
					height="50"
					loading="eager"
				/>
			)
		}
		<div class="metadata">
			<b>{title}</b>
			{desc && <span>{desc}</span>}
		</div>
	</div>
</a>

<style>
	.hreffix {
		max-width: fit-content;
	}

	.projectcard {
		color: black;
		display: flex;
		max-width: 500px;
		gap: 15px;
		padding: 10px;
		border-radius: 10px;
		user-select: none;
		transition: background-color 0.1s ease-in-out;
	}

	.projectcard .metadata {
		display: flex;
		flex-direction: column;
		gap: 5px;
	}

	.projectcard b {
		font-size: 20px;
		font-weight: 600;
	}

	.projectcard span {
		font-size: 18px;
	}

	.projectcard:hover {
		background-color: #f0f0f0;
	}

	.projectIcon {
		max-width: 50px;
		height: 50px;
		border-radius: 8px;
	}

	@media (max-width: 768px) {
		.projectcard {
			max-width: 100%;
			flex-direction: column;
		}

		.projectcard b {
			font-size: 18px;
		}

		.projectcard span {
			font-size: 16px;
		}
	}
</style>
