---
interface Props {
    backgroundColor?: string;
    name: string;
    desc?: string;
    icon?: string;
    href?: string;
}

const { backgroundColor, name, desc, icon, href } = Astro.props;
---

<a href={href ?? "#"} target={href ? "_blank" : undefined}>
    <div
        class="projectcard"
        style={{ background: backgroundColor ?? "var(--secondary-surface)" }}
    >
        {
            icon && (
                <div class="icon">
                    <img src={icon} alt="Project Icon" class="projectIcon" />
                </div>
            )
        }
        <h1>{name}</h1>
    </div>
</a>

<style>
    .projectcard {
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px 15px;
        border-radius: 16px;
        user-select: none;
        width: fit-content;
    }

    .projectcard h1 {
        font-size: 18px;
        font-weight: 600;
    }

    .projectcard p {
        font-size: 16px;
    }

    .projectcard:hover {
        opacity: 0.93;
    }
</style>
