---
import { Image } from "astro:assets";

interface Props {
	icon: string;
	href?: string;
	tooltip?: string;
}

const { icon, href, tooltip } = Astro.props;
---

<a class="hreffix" href={href ?? "#"} target={href ? "_blank" : undefined}>
	{
		icon && (
			<div class="tooltip">
				<Image
					src={icon}
					alt="Skill Icon"
					class={`skillIcon`}
					width="60"
					height="60"
					loading="eager"
				/>
				<span class="tooltiptext">
					<Image
						src={tooltip || ""}
						width="200"
						height="110"
						loading="eager"
						alt="website screemshot"
					/>
				</span>
			</div>
		)
	}
</a>

<style>
	.skillIcon {
		height: 60px;
		width: 60px;
		border: 1px solid #e8e8e8;
		border-radius: 12px;
		transition: opacity 0.2s;
	}

	.skillIcon:hover {
		opacity: 0.9;
	}

	.tooltip {
		position: relative;
		display: inline-block;
	}

	.tooltip .tooltiptext {
		visibility: hidden;
		display: flex;
		background-color: white;
		color: black;
		position: absolute;
		z-index: 1;
		bottom: 120%;
		margin-left: -60px;
		border-radius: 8px;
		opacity: 0;
		transform: translateY(5px);
		transition:
			opacity 0.2s,
			transform 0.1s;
	}

	.tooltiptext img {
		width: 200px;
		border-radius: 8px;
	}

	.tooltip:hover .tooltiptext {
		visibility: visible;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
		opacity: 1;
		transform: translateY(0);
	}

	@media (max-width: 768px) {
		.tooltip:hover .tooltiptext {
			visibility: hidden;
			box-shadow: none;
		}
	}
</style>
