---
interface Props {
	name: string;
	icon?: string;
	href?: string;
}

const { name, icon, href } = Astro.props;
---

<a href={href ?? '#'} target={href ? '_blank' : undefined}>
    <div class="smDiv">
        {icon && (
            <div class='icon'>
                <img
                    src={icon}
                    width={17}
                    height={17}
                    alt='Social Media Icon'
                />
            </div>
        )}
        <span>{name}</span>
    </div>
</a>

<style>
    .smDiv {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 20px;
        text-decoration: underline;
    }
</style>