.titlediv {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    animation: fade-in 0.5s ease-in-out forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.projectcard {
    max-width: 505px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    border-radius: 10px;
    gap: 15px;
    user-select: none;
}

.projectcard h1 {
    font-size: 20px;
    font-weight: 600;
}

.projectcard .right_side {
    display: flex;
    flex-direction: column;
}

.projectcard:hover {
    opacity: 0.97;
}

.projectcard:active {
    transform: scale(0.99);
    transition: 0.1s;
}

summary {
    cursor: pointer;
    user-select: none;
    display: block;
    padding-left: 1rem;
    position: relative;
}

summary:before {
    content: '';
    border-width: .5rem;
    border-style: solid;
    border-color: transparent transparent transparent black;
    position: absolute;
    top: 0.75rem;
    left: -0.1rem;
    transform-origin: .2rem 50%;
    transition: .25s transform ease;
}

details[open]>summary:before {
    transform: rotate(90deg);
}

details summary::-webkit-details-marker {
    display: none;
}

.projectIcon {
    width: 30px;
    height: auto;
}