.titlediv {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.projectcard {
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    gap: 15px;
    user-select: none;
}

.projectcard h1 {
    font-size: 20px;
    font-weight: 600;
}

.projectcard p {
    font-size: 16px;
}

.projectcard .right_side {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.projectcard:hover {
    opacity: 0.93;
}

summary {
    cursor: pointer;
    user-select: none;
    display: block;
    padding-left: 1rem;
    position: relative;
}

summary:before {
    content: '';
    border-width: .5rem;
    border-style: solid;
    border-color: transparent transparent transparent #4b4b4b;
    position: absolute;
    top: 0.75rem;
    left: -0.1rem;
    transform-origin: .2rem 50%;
    transition: .25s transform ease;
}

details[open]>summary:before {
    transform: rotate(90deg);
}

details summary::-webkit-details-marker {
    display: none;
}

.projectIcon {
    width: 30px;
    height: auto;
}