nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #4b4b4b;
}

nav .left_nav {
  font-size: 24px;
  color: #000;
  font-weight: bold;
}

nav .right_nav {
  display: flex;
  gap: 15px;
  font-size: 20px;
  height: fit-content;
}